<div class="container mt-5" *ngIf="room$ | async as room">
    <div class="card">
        <div class="card-header">Hotel Room Number {{ id$ | async }}</div>
        <div class="card-body">
            <p class="card-text">
                <strong>Room Type:</strong> {{ room.type }}
                <br />
                <strong>Price:</strong> {{ room.price }}
                <br />
                <strong>Rating:</strong> {{ room.rating }}
                <br />
                <strong>Available:</strong> {{ room.available }}
            </p>
        </div>
        <div
            class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-end m-2 gap-2"
        >
            <button class="btn btn-primary">Book Room</button>
            <button class="btn btn-secondary" [routerLink]="['/room', room.id, 'modify-room']">Modfy Room</button>
            <button
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteRoomModal"
                (click)="setRoomToDelete(room.id)"
            >
                Delete Room
            </button>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="deleteRoomModal"
    tabindex="-1"
    aria-labelledby="deleteRoomModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteRoomModalLabel">
                    Delete confirmation
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this room?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-danger" (click)="removeRoom(roomIdToDelete)">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

