<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create a new room</h5>
        <form (ngSubmit)="submitForm()" id="newRoomForm">
            <div>
                <select name="roomType" [(ngModel)]="room.type">
                    <option value="SINGLE">Single</option>
                    <option value="DOUBLE">Double</option>
                    <option value="KING">King</option>
                    <option value="QUEEN">Queen</option>
                    <option value="SUITE">Suite</option>
                </select>
            </div>
            <div>
                <input
                    type="number"
                    name="roomPrice"
                    [(ngModel)]="room.price"
                    step="0.10"
                />
            </div>
            <div>
                <input
                    type="number"
                    name="roomRating"
                    [(ngModel)]="room.rating"
                />
            </div>
            <div class="container m-1">
                <div class="row gap-2">
                    <button type="submit" class="col-5 btn btn-primary">
                        Create
                    </button>
                    <button class="col-5 btn btn-secondary">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
