<div class="">
    <div class="d-flex mt-2 justify-content-end">
        <button class="btn btn-primary" [routerLink]="'/add-room'">Create</button>
    </div>
    <table class="table table-hover table-responsive text-center overflow-x-auto mt-2">
        <thead class="table-primary">
            <tr>
                <th scope="col">Room No.</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Rating</th>
                <th scope="col">Available</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of roomList">
                <th scope="row">{{ room.id }}</th>
                <td>{{ room.type }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.rating }}</td>
                <td>{{ room.available }}</td>
                <td class="d-flex flex-column flex-md-row gap-2">
                    <button
                        class="btn btn-primary"
                        [routerLink]="['/room', room.id]"
                    >
                        Visit
                    </button>
                    <button class="btn btn-primary" [routerLink]="['/room', room.id, 'modify-room']">
                        Edit
                    </button>
                    <button
                        class="btn btn-danger"
                        (click)="removeRoom(room.id)"
                    >
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


